body {
    position: static;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-rows: 12% 90% 8%;
    grid-template-columns: auto;
    grid-template-areas: 
                        'header'
                        'main'
                        'footer';
}

header{
    display: flex;
    justify-content: center;
    background-color: #2e6da4;
    padding-top: 20px;
    height: 150%;
}
header .container{
    padding: 0px;
    margin: 0px;
    max-width: 990px;
    width: 100%;
    position: static;  
}
header h1 {
    padding: 0px;
    margin: 0px;
    font-size: 48px; 
    padding-left: 120px;
    color: white;
}

main{
    padding: 10px;
    margin: 0px;
    height: 95%;
    width: 40%;
}

main .container{
    padding-top: 10%;
    justify-content: center;
    grid-area: 
                'searchbox'
                'lists';
    grid-template-rows: 50% 30%;
}

main .container #myform {
    display:flex;
    justify-content: center;
    background: #f0f0f0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 244%;
  }

main .container h2{
    position: sticky;
    text-transform: capitalize;
    padding-top: 20px;
}
main .container .result{
    position: fixed;
}
main .container .list{
    padding: 10px ;
}

main  .form-field {
    margin: 10px 0;
    padding: 2%;

    
  }
main .container .form-field{
    padding: 20px;
}
  main .form-field .input {
    width: 140%;
    height: 34px;
    padding: 8px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
 main .container .btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
footer{
    padding-left: 10px;
    background-color: #4A5568;
    color: white;
}